---
title: À propos
layout: default
permalink: /a-propos/
---
<section class="b-title-section">
  <div class="row">
    <div class="column">
      <h2 class="e-page-title">À propos</h2>
      <p>Fondé en 2011, Nord Ouvert est le principal organisme sans but lucratif du Canada spécialisé dans les données ouvertes, les gouvernements ouverts, la participation communautaire, les villes intelligentes et la technologie civique. Nous travaillons en collaboration avec les villes les plus grandes, les plus innovantes et les plus connectées du Canada. Notre réseau s’étend partout à travers le pays et le monde, par l’entremise de communautés de pratiques et de partenaires gouvernementaux ouverts. À titre de gardien de la Charte internationale sur les données ouvertes, nous en appliquons les <a href="https://opendatacharter.net/principles-fr/" target="_blank">principes</a> et les traduisons en stratégies et feuilles de route gouvernementales. Nous travaillons ainsi à promouvoir une utilisation efficace des données en tant qu’infrastructure facilitant une collaboration soutenue entre le gouvernement, la société civile et le public.</p>
    </div>
  </div>
</section>

<section class="b-content-section">
	<div class="row">
		<div class="column">
      <h2>A Step Ahead</h2>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<h4>Pillar 1: Community Support for Open Smart City Implementation</h4>
			<p>We work through multi-stakeholder partnerships to offer solutions to smart city challenges as a firmly embedded member of the open data community. Operationalizing our Guide to Open Smart Cities, we have assembled a <strong>multi-disciplinary one-to-one advisory service</strong> to build capacity in local communities of all sizes on issues of data, technology, and governance through a lens of access, interoperability, and engagement.</p>
			<h4>Pillar 2: Applied Research to Solve Complex Problems</h4>
			<p>We bridge geographic and cultural divides by mobilizing and synthesizing knowledge to create practical outcomes for problems institutions and communities face in facilitating data collection, bridging organisational silos, and structuring multi-stakeholder data collaboration - we call this applied research. We implement this approach via the <strong>Applied Research Lab</strong>, which uses quantitative and qualitative methods to further data strategy, governance, interoperability, and data-based engagement. We draw upon our extensive research partnerships on issues including AI ethics and digital transformation.</p>
			<h4>Pillar 3: Local-to-Global Scaling Up of Solutions</h4>
			<p>We partner with international organizations to make our local experience and expertise relevant to others and bring back knowledge to our community. Our scaling up of local work is achieved through support from the Applied Research Lab in <strong>tailoring capacity building programs</strong> for local and national stakeholders undergoing organizational change. In so doing, we actively contribute to international peer-to-peer knowledge networks.</p>
		</div>
	</div>
</section>

{% include call-to-action.html %}


<section class="b-content-section b-people" id="team">
  <div class="row">
    <div class="column">
      <h2 class="e-section-title">Notre équipe</h2>
      <p class="text-center">Notre équipe dynamique est composée de professionnels d’expérience possédant une expertise spécialisée dans plusieurs domaines : la planification gouvernementale, stratégique et opérationnelle, l’accès à l’information, les technologies de l’information, le secteur privé, la création de normes sur les données, le développement international en recherche appliquée, l’élaboration de politiques et le développement de logiciels.</p>
    </div>

    {% for person in site.data.staff %}
    <div class="medium-4 small-6 columns{% if forloop.last %} end{% endif %}">
      <div class="b-card m-team">
        <div class="e-card-picture" style="background-image: url('{{ site.baseurl }}/theme/img/people/{{ person.name | slugify }}.jpg')">
          {% if person.linkedin %}
          <a class="b-social-media" href="{{ person.linkedin }}"><i class="fa fa-lg fa-linkedin"></i></a>
          {% endif %}
          {% if person.url %}
          <a class="b-social-media" href="{{ person.url }}"><i class="fa fa-lg fa-link"></i></a>
          {% endif %}
        </div>
        <div class="e-card-content">
          <h3>{{ person.name }}</h3>
          <h4>{{ person.role | markdownify}}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="b-content-section b-people" id="advisors">
  <div class="row">
    <div class="column">
      <h2 class="e-section-title">Conseillers</h2>

    {% for person in site.data.advisors %}
    <div class="medium-4 small-6 columns{% if forloop.last %} end{% endif %}">
      <div class="b-card m-team">
        <div class="e-card-picture" style="background-image: url('{{ site.baseurl }}/theme/img/people/{{ person.name | slugify }}.jpg')">
          {% if person.linkedin %}
          <a class="b-social-media" href="{{ person.linkedin }}"><i class="fa fa-lg fa-linkedin"></i></a>
          {% endif %}
          {% if person.url %}
          <a class="b-social-media" href="{{ person.url }}"><i class="fa fa-lg fa-link"></i></a>
          {% endif %}
        </div>
        <div class="e-card-content">
          <h3>{{ person.name }}</h3>
          <h4>{{ person.role | markdownify}}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="b-content-section b-people" id="board">
 <div class="row">
   <div class="column">
     <h2 class="e-section-title">Le conseil d’administration et le fondateur</h2>
   </div>

   {% for person in site.data.board %}
   <div class="medium-4 small-6 columns{% if forloop.last %} end{% endif %}">
     <div class="b-card m-team">
       <div class="e-card-picture" style="background-image: url('{{ site.baseurl }}/theme/img/people/{{ person.name | slugify }}.jpg')">
         {% if person.linkedin %}
         <a class="b-social-media" href="{{ person.linkedin }}"><i class="fa fa-lg fa-linkedin"></i></a>
         {% endif %}
         {% if person.url %}
         <a class="b-social-media" href="{{ person.url }}"><i class="fa fa-lg fa-link"></i></a>
         {% endif %}
       </div>
       <div class="e-card-content">
         <h3>{{ person.name }}</h3>
         {% if person.summary %}
         <h4>{{ person.summary | markdownify}}</h4>
         {% endif %}
         <h4>{{ person.role | markdownify}}</h4>
       </div>
     </div>
   </div>
   {% endfor %}
 </div>
</section>
