---
title: Infolettre
layout: default
permalink: /infolettre/
---
<section class="b-title-section" id="newsletter">
	<div class="row">
		<div class="column">
			<h2 class="e-page-title">Inscrivez-vous à notre infolettre</h2>
			<p class="text-center">Notre infolettre vous informe des nouvelles les plus récentes et de l’expansion de notre organisation dans le cadre de sa nouvelle mission. Inscrivez-vous pour recevoir un lien vers notre infolettre et la version PDF de celle-ci.</p>
			  <span class="button center"><a data-target="subscribe">Inscrivez-vous à notre infolettre</a></span>
		</div>
	</div>
</section>

<div class="background-subtle">
	<section class="b-content-section news b-blog featured-list">
		<div class="row">
				{% for post in site.posts %}
					{% if post.categories contains 'infolettre' %}

						{% include blog-list-article.html %}

					{% endif %}
		    {% endfor %}
	  </div>
	</section>
</div>
