---
title: Laboratoire de recherche appliquée
layout: default
permalink: /laboratoire-recherche-appliquee/
---
<section class="b-title-section current">
	<div class="row">
		<div class="column">
			<h2 class="e-page-title">Laboratoire de recherche appliquée</h2>
			<p class="text-center">Intro paragraph here</p>
		</div>
	</div>
</section><!-- /.b-title-section -->

<section class="b-content-section">
	<div class="row">
		<div class-"column">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis nisi eget dui fringilla, finibus mollis purus varius. Aliquam at massa lacus. Nam in viverra dolor. Phasellus vel rutrum neque. Suspendisse pulvinar augue id orci pulvinar, sed mattis nunc vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris consectetur nec tortor nec placerat. Morbi sed metus tristique tellus fermentum luctus iaculis in dui. Etiam sed urna eu lacus semper efficitur pulvinar quis ligula.</p>
		</div>
		<hr>
	</div>
</section><!-- .b-content-section -->

{% comment %} Team Section {% endcomment %}
<section class="b-content-section b-people team-unit">
  <div class="row">
    <div class="column">
      <h2 class="e-section-title">Applied Research Lab Team</h2>
      <!--p class="text-center">Optional team intro text here.</p-->
    </div><!-- .column -->

		{% include team-unit.html people="staff" unit="laboratoire de recherche appliquee" %}

	</div><!-- .row -->
	<!-- remove this comment to show research collaborators section
	<div class="row">
		<div class="column">
			<h2 class="e-section-title">Research Collaborators</h2>
			<p class="text-center">Optional team intro text here.</p>
		</div>

		{% include team-unit.html people="research-collaborators" unit="laboratoire de recherche appliquee" %}

	</div> end of comment -->
</section>

{% comment %} Related Posts Section {% endcomment %}
<div class="background-subtle">
	<section class="b-content-section b-blog featured-list">
		<div class="row">
			<div class="column">
				<h2 class="e-section-title">Related News</h2>
			</div>
		</div>

		<div class="row">
			<div>

				{% assign posts = site.posts | where: "categories", "laboratoire de recherche appliquee" %}
				{% for post in posts limit:5 %}

					{% include blog-list-article.html %}

				{% endfor %}

				<nav>
					<p class="navigation"><a href="/blog">View all news</a></p>
				</nav>
			</div>
		</div><!--.row-->

	</section>
</div>
