---
title: Salle de presse
layout: default
permalink: /salle-de-presse/
redirect_from:
  - /press/
---
<section class="b-title-section" id="newsroom">
	<div class="row">
		<div class="column">
			<h2 class="e-page-title">Salle de presse</h2>
			<p class="text-center">Pour toute demande de renseignements des médias, écrivez-nous à <a href="mailto:info@nordouvert.ca">info@nordouvert.ca</a>.<br />Pour des renseignements sur notre organisme et nos initiatives à venir, consultez également notre dossier de presse en format PDF.</p>
			<div class="button text-center"><a href="https://docs.google.com/document/d/1Lrt4580RzUYkJ2QR7FGYNW_Ung3acXgZ_jXT_5UHIlI/edit?usp=sharing" target="_blank">Téléchargez notre dossier de presse</a></div>
		</div>
	</div>
</section>

{% if site.categories contains 'communiqué de presse' %}
<section class="b-content-section news content-list">
	<div class="row">
    <h2 class="e-section-title">Communiqués de presse</h2>
		<ul>
			{% for post in site.posts %}
				{% if post.categories contains 'communiqué de presse' %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a><span> {{ post.date | date_to_long_string }}</span>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
  </div>
</section>
{% endif %}

<section class="b-content-section news content-list">
  <div class="row">
    <h2 class="e-section-title">Dans les nouvelles</h2>
    {% assign newsByYear =
        site.data.news | group_by_exp:"item", "item.pub_date | date: '%Y'" %}
    {% for year in newsByYear %}
      <h4>{{ year.name }}</h4>
        <ul>
          {% for newsitem in year.items %}
            <li><a href="{{ newsitem.link }}" target="_blank" rel="nofollow">{{ newsitem.title }} </a><span class="source">{{ newsitem.source }}. </span><span>{{ newsitem.pub_date | date_to_long_string }}.</span></li>
          {% endfor %}
        </ul>
    {% endfor %}
  </div>
</section>
