<section class="call-to-action">
  <div class="row action-box">
    <div class="column small-12 medium-6">
      <span class="button important">
        {% if page.url contains 'travailler-avec-nous' %}
          <a href="/emplois">Emplois</a>
        {% else %}
          <a href="/travailler-avec-nous">Travailler avec nous</a>
        {% endif %}
      </span>
    </div>
    <div class="column small-12 medium-6">
      <span class="button important"><a href="/bulletin">Inscrivez-vous à notre bulletin d’information</a></span>
    </div>
  </div>
  <div class="row socials text-center">
    <a href="https://twitter.com/opennorth" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/OpenNorth.NordOuvert" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/open-north/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</section>
