---
layout: default
---
<section class="b-content-section b-blog">
  <div class="row">
    <div class="column">
      <article>
        <header>
          <h2 class="e-page-title">{{ page.title }}</h2>
          <p>
            <time datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time>
            {% if page.author %}par <span rel="author">{{ page.author }}</span>{% endif %}
          </p>
        </header>

        {% if page.image_hidden != true %}
          {% if page.image contains "http" %}
            <div class="blog-image">
              <img src="{{ page.image }}" class="center" />
            </div>
          {% elsif page.image == null %}

          {% else %}
            <div class="blog-image">
              <img src="/theme/img/blog/{{ page.image }}" class="center" />
            </div>
          {% endif %}
        {% endif %}

        {{ content }}

      </article>

      <nav class="post-navigation">
        <hr />
        {% if page.categories contains 'communiqué de presse' %}
            <p><a href="/salle-de-presse">Visitez la salle de presse</a></p>
        {% endif %}

        {% if page.categories contains 'infolettre' %}
            <p><a href="/infolettre">Consultez les anciens infolettres</a></p>
        {% endif %}

        <p><a href="{{ site.baseurl }}/blog" rel="up">Consultez les archives</a></p>

        <hr />

        {% if page.next %}
          <p class="left next"><a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
        {% endif %}

        {% if page.previous %}
          <p class="right previous"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
        {% endif %}
      </nav>

    </div>
  </div>
</section>
